<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly" name="description"/>
        <meta content="bootstrap, admin, dashboard, flat admin template, responsive," name="keywords"/>
        <title>
            404 Page
        </title>
        <link href="/static/ui/css/style.css" rel="stylesheet"/>
        <style type="text/css">
            body{background: #F5F5F5;}
        </style>
    </head>
    <body>
        <div class="error-pages">
            <img alt="500" class="icon" height="260" src="/static/ui/img/404.png" width="400">
                <h1>
                    404 Page Not Found，界面不存在
                </h1>
                <h4>
                    链接不存在或错误，如无法解决请联系管理员
                </h4>
            </img>
        </div>
    </body>
</html>