<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <title>

    </title>
    <!--css样式文件引用-->
    <link href="/static/ui/img/favicon.ico" rel="shortcut icon"/>
    <link href="/static/ui/css/font-awesome.min.css?v={$version}" rel="stylesheet" type="text/css"/>
    <link href="/static/plugins/bootstrap/bootstrap.css?v={$version}" rel="stylesheet" type="text/css"/>
    <link href="/static/ui/css/style.css?v={$version}" rel="stylesheet" type="text/css"/>
    <link href="/static/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css?v={$version}" rel="stylesheet" type="text/css"/>
    <link href="/static/ui/css/responsive.css?v={$version}" rel="stylesheet" type="text/css"/>
    <link href="/static/css/login.css?v={$version}" rel="stylesheet" type="text/css"/>
    <style>
        .login-form{
            background:none !important;
            display: block;
            padding:0;

        }
        .login-form form{
            /*position: absolute;*/
            /*left: 86px;*/
            margin: 30px auto auto auto;
            float:unset;
            padding-top: 50px;
        }
        html, body{
            min-width: unset;
        }
    </style>
</head>
<body class="bodybg center_bin_body_ui">

<div class="login-body">
    <div class="login-form" id='login_from_div'>
        <form action="{:url('index')}" onsubmit="return false;" autocomplete="off">
            <div class="top">
                <h1>权限配置系统登录</h1>
            </div>
            <div class="form-area">
                <input id="loginMode" type="hidden" name="loginMode" value="1"/>
                <div id="tab-content_1" class="tab-content-hi" >
                    <div class="group">
                        <input class="form-control" id="username1" name="username1" placeholder="请输入用户名/手机号" type="text" value="{$username}" />
                        <label class="error loginName">请填写用户名</label>
                    </div>
                    <div class="group">
                        <input class="form-control" id="password" name="password" placeholder="请输入密码" type="password" />
                        <label class="error loginPass">请填写密码</label>
                    </div>

                    <div class="group form-validate-code">
                        <input class="form-control user_login_validation" maxlength="3" id="code_gg" name="validation"
                               placeholder="请输入验证码" type="text" nullmsg="验证码不能为空！"/>
                        <label class="error loginYzm">请填写验证码</label>
                        <!--后面加随机数的参数是为了兼容ie和火狐浏览器点击不更换图片的问题-->
                        <img class="validation_img" src="{:captcha_src()}" alt="captcha" id="yan_captcha" onclick="this.src='{:captcha_src()}?seed='+Math.random()"/>
                    </div>
                </div>
                <div class="checkbox checkbox-primary check-margin">
                    <input checked="" id="rememberCB" name="check_status" type="checkbox" value="1">
                    <label for="rememberCB">记住帐号</label><span class="check-tips"></span>
                    <a href="{:url('FindPass/findPass')}" target="_blank" title="找回登录密码" class="login_forget_pass">忘记密码？</a>
                </div>
                <button id="login_btn" class="btn btn-block submit_btn_login"  type="submit">
                    登&nbsp;&nbsp;录
                </button>
            </div>
        </form>
    </div>
</div>
</body>
{include file="common/artdialog"/}
<script type="text/javascript">
    var _send_mobile_url = "{:url('send_mobile')}";
    var is_ajax = "{$is_ajax}";
    if (is_ajax == 1) {
        var is_simple_login = true;
    }
</script>
<script src="/static/js/jquery.min.js?v={$version}" type="text/javascript"></script>
<script src="/static/js/login.js?v={$version}" type="text/javascript"></script>

</html>
