<script src="/static/plugins/artdialog/artDialog.js?v={$version}"  type="text/javascript"></script>
<script src="/static/plugins/artdialog/plugins/iframeTools.source.js?v={$version}" type="text/javascript"></script>
<!--<script src="/static/plugins/artdialog/plugins/iframeTools.js?v={$version}" type="text/javascript"></script>-->
<script src="/static/plugins/artdialog/art_common_funs.js?v={$version}1" type="text/javascript"></script>
<link href="/static/plugins/artdialog/skins/twitter.css?v={$version}" type="text/css" rel="stylesheet">
