 <!-- 框架基本 css文件 -->
<link href="/static/plugins/bootstrap/bootstrap.css?v={$version}" type="text/css" rel="stylesheet" />
<link href="/static/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css?v={$version}" type="text/css" rel="stylesheet" />
<link href="/static/ui/css/font-awesome.min.css?v={$version}" type="text/css" rel="stylesheet" />
<link href="/static/ui/css/style.css?v={$version}" type="text/css" rel="stylesheet" />
<!-- 自定义基础 css文件 -->
<link href="/static/css/common.css?v={$version}" type="text/css" rel="stylesheet" />
<link href="/static/css/page.css?v={$version}" type="text/css" rel="stylesheet" />
<!-- 基础js文件 -->
<script type="text/javascript" src="/static/js/jquery.min.js?v={$version}"></script>
<script type="text/javascript" src="/static/js/common.js?v={:config('version.fileversion')}"></script>
<script type="text/javascript" src="/static/plugins/bootstrap/bootstrap.min.js?v={$version}"></script>