<div class="dialog_footer_div_height"></div>
<div id="submit_buttonbar_postion">
    <div class="f-r">
        {notpresent name="isDetailPage"}
            <button class="btn btn-default" id="submit" type="submit">
               {present name='subName'}
                    {$subName}
               {else/}
                   保存
                {/present}
            </button>
        {/notpresent}
        <button class="btn btn-light" type="button" value="" onclick="art.dialog.close();">
            关闭
        </button>
    </div>
</div>