{extend name="base:main_base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="/static/plugins/ztree/zTreeStyle/zTreeStyle.css?v={$version}" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/config_menu.css?v={$version}"/>
<style>
    .select2-container .select2-selection--single {
        height: 32px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px !important;
    }
</style>
{/block}
{block name="content"}
<div class="container-padding">
    <div class="gridPanel">
        <div class="config_content">
            <div class="panel-default panel-auto list-search-bar">
                <div class="auth_tab row float-l">
                    <button class="btn btn-default btn-auto btn-sm" onclick="exportSql()" >
                        导出菜单sql
                    </button>
                </div>
                <div class="row float-r">
                    <form action="{:url('index')}" class="form-search" id="form_search" onsubmit="return false;">
                        <div class="inline-block checkbox-block" >
                            <label for="last_seven_day" class="checkbox-label">最近七天</label>
                            <div class="checkbox-input">
                                <input role="checkbox" id="last_seven_day" name="last_seven_day" class="u-chk"
                                       type="checkbox"/>
                                <input id="is_last_seven_day" name="is_last_seven_day" value="false" type="hidden"/>
                            </div>
                        </div>
                        <div class="inline-block form-group">
                            <div class="form-group inline-block select_inline">
                                <ul _input="auth_status" class="menu_select_ul">
                                    <li _value="-1">全部</li>
                                    <li _value="1" class="msu_active">需要控制</li>
                                    <li _value="0">不需要</li>
                                </ul>
                                <input name="auth_status" id="auth_status" value="1" type="hidden"/>
                            </div>
                            <div class="form-group inline-block select_inline">
                                <ul _input="is_select" class="menu_select_ul">
                                    <li _value="-1">全部</li>
                                    <li _value="1" class="msu_active">未关联</li>
                                    <li _value="2">已关联</li>
                                </ul>
                                <input name="is_select" id="is_select" value="1" type="hidden"/>
                            </div>
                            <div class="form-group inline-block form-float-left">
                                <select title="选择控制器" name="controller_select" id="controller_select"
                                       onchange="selectChange()" style="width:200px;">
                                    <option value="-1">==全部控制器==</option>
                                    {volist name='ControllerSelectData' id='data'}
                                        <option value="{$data.name}">{$data.name}({$data.auth_name})</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="search-box inline-block">
                                <input title="可输入菜单地址/创建人进行搜索" class="search-inp" name="searchinfo" placeholder="菜单地址/创建人" style="width: 150px;" type="text"/>
                            </div>
                            <div class="btn-group inline-block" role="group">
                                <button title="搜索匹配的权限函数" class="btn btn-default btn-auto btn-sm" id="btn_search">
                                    <i class="fa fa-search"></i>
                                    搜索
                                </button>
                                <button class="btn btn-light btn-auto btn-sm" id="btn_search_all" onclick="window.location.reload();">
                                    查看全部
                                </button>
                                <button title="同步最新的权限函数" class="btn btn-default btn-auto btn-sm" onclick="updateAuth();">
                                    <i class="fa fa-refresh"></i>
                                    同步
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content_left">
                <div class="menu_content">
                    <div class="menu_title">
                        <span>菜单列表</span>
                        <img title="已禁用：带删除线&#10;不显示：灰色字体&#10;" class="menu_list_img" src="/static/image/question.png"/>
                    </div>
                    <button title="展开或者折叠菜单" class="open_or_fold" onclick="expandAll()" >
                        <i class="fa fa-angle-double-down"></i>
                    </button>
                    <div class="menu_list">
                        <ul id="treeRule" class="ztree"></ul>
                    </div>
                    <button title="将选中的权限函数关联至选中的菜单" class="auth_main_btn btn btn-default btn-auto btn-sm" onclick="relationMenu()">
                        <i class="fa fa-refresh"></i>
                        关联
                    </button>
                </div>
            </div>
            <div class="content_right">
                <table id="gridTable">
                </table>
                <div id="gridPager">
                </div>
            </div>
        </div>
    </div>
</div>
{/block} {block name="script"}

{include file="common/artdialog"/}
{include file="common/notifit"/}
{include file="common/jGrid" /}
<!--下拉选择-->
{include file='common/searchSelect'}
<script type="text/javascript">
    //权限编号
    var auth_config_id = '{$auth_config_id}';
    //module类别
    var module = '{$module}';
    var listUrl='{:url("AuthConfig/getMethodAll")}?auth_config_id={$auth_config_id}';
    var getMenuListUrl = "{:URL('AuthConfig/getMenuList')}";
    //配置菜单
    var indexUrl = "{:url('AuthConfig/index')}";
    //删除菜单
    var deleteMenuUrl = "{:URL('AuthConfig/deleteMenu')}?menu_id=";
    //更新权限配置
    var updateUrl = '{:url("AuthConfig/updateAuthConfig")}?auth_config_id={$auth_config_id}';
    //菜单排序
    var menuSort = "{:url('AuthConfig/menuSort')}";
    //下载菜单Url
    var downloadMenuUrl = "{:url('AuthConfig/downloadMenu')}?auth_config_id={$auth_config_id}";
    //导出SqlUrl
    var exportSqlUrl = "{:url('AuthConfig/exportSql')}?auth_config_id={$auth_config_id}";
    //上传菜单Url
    var uploadMenuUrl = "{:url('AuthConfig/uploadMenu')}";
    //菜单关联
    var relationMenuUrl = "{:url('AuthConfig/relationMenu')}";
    //修改菜单
    var editMenuUrl = "{:URL('MenuAuth/edit_menu')}?menu_id=";
    //添加菜单
    var addMenuUrl = "{:URL('MenuAuth/add_menu')}?auth_config_id={$auth_config_id}";
    //得到可上传数和可下载数
    var getUpAndOnNumberUrl = "{:url('AuthConfig/getUpAndOnNumber')}?auth_config_id={$auth_config_id}";
    //异步更新控制器
    var updateControllerSelectUrl = "{:url('AuthConfig/updateControllerSelect')}?auth_config_id={$auth_config_id}";
    //同步后刷新控制器列表
    var relSelectControllerUrl = "{:url('AuthConfig/refSelectController')}?auth_config_id="+auth_config_id;
</script>
<script type="text/javascript" src="/static/plugins/ztree/jquery.ztree.core.js?v={$version}"></script>
<script type="text/javascript" src="/static/plugins/ztree/jquery.ztree.excheck.js?v={$version}"></script>
<script type="text/javascript" src="/static/plugins/ztree/jquery.ztree.exedit.js?v={$version}"></script>
<script type="text/javascript" src="/static/js/config_menu.js?v={$version}"></script>
{/block}
